@font-face {
  font-family: retro-gaming;
  src: url("./font-family/retroGamingFont.ttf");
}

body {
  font-family: "retro-gaming" sans-serif;
  background-color: black;
  /*text-shadow: 1px 1px 0 #00ff00;*/
  font-weight: bold;
}

.floating-btn {
  position: fixed;
  background: none;
  cursor: pointer;
  z-index: 1000;
}

img {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 70%;
  width: 200px;
  height: 100vh;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  z-index: 999;
}

div.lien {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 40px;
  gap: 60px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

h2 {
  color: white;
}

@media screen and (min-width: 769px) {
  .floating-btn {
    position: fixed;
    background: none;
    cursor: pointer;
    z-index: 1000;
  }

  img {
    position: fixed;
    top: 20px;
    width: 30px;
    height: 30px;
    left: 20px;
  }

  .menu-nav {
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    height: 30%;
    top: 85px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 999;
    opacity: 80%;
  }

  div.lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60rem;
    padding: 40px;
    gap: 60px;
    font-size: 20px;
    margin: 0 auto;
  }

  h2 {
    color: white;
  }
}
