body {
  font-family: "retro-gaming", monospace;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  position: fixed;
  top: 90px;
  left: 20px;
}

#pseudo,
#nom,
#prenom,
#email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 150px;
  font-size: 20px;
}

.profil {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  align-items: flex-start;
  padding-right: 350px;
}

button#btn-valide {
  height: 50px;
  width: 80px;
  margin: 2rem;
}

#btn-valide:hover {
  background-color: silver;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 170px;
  left: 20px;
}

.ligne-separation {
  position: fixed;
  top: 100px;
  left: 170px;
  height: 70vh;
  width: 2px;
  background-color: rgb(0, 255, 187);
  margin: 0 2rem;
}

@media screen and (min-width: 769px) {
  h2 {
    font-size: 50px;
    position: fixed;
    left: 25%;
    top: 30%;
  }

  form {
    position: fixed;
    left: 25%;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  button#btn-valide {
    margin: 5rem;
    width: 180px;
    height: 90px;
  }

  #pseudo,
  #nom,
  #prenom,
  #email {
    width: 250px;
    font-size: 20px;
  }

  .ligne-separation {
    margin: 0 50rem;
    position: fixed;
    top: 200px;
  }

}
