@font-face {
  font-family: "RetroGaming";
  src: url("/font-family/Retro\ Gaming.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  height: 102vh;
  background-image: url("../images/1febdd3f-7c7e-487f-9b89-721115ed8eb5.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  padding: 4rem;
  width: 150rem;
}

h1 {
  font-family: "RetroGaming", monospace;
  color: #40e0d0;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50%;
  text-align: center;
}

.btn-start {
  font-size: 30px;
  font-family: "RetroGaming", monospace;
  display: block;
  position: absolute;
  left: 25%;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 9999px;
  background-color: rgb(255, 128, 0);
}

@media screen and (min-width: 769px) {
  div h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  }

  .container {
    position: absolute;
    left: 35%;
  }

  .btn-start {
    top: 800px;
    height: 90px;
    width: 300px;
  }
}
