.video-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  border-radius: var(--border-radius-large);
  overflow: hidden;
  box-shadow: var(--shadow);
  margin: 0 auto;
}

.video-preview {
  width: 100%;
  height: auto;
  display: block;
}

.capture-button {
  border-radius: var(--border-radius-full);
  width: 70px;
  height: 70px;
  border: none;
  background-color: var(--color-secondary);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 128, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  font-size: 2rem;
  margin: 0 auto;
}

.capture-button:hover {
  background-color: var(--hover-light-button);
  box-shadow: var(--shadow-glow);
  transform: scale(1.05);
}

.photo-preview {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.captured-image {
  width: 100%;
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  display: block;
}

@media screen and (min-width: 769px) {
  .video-container {
    max-width: 700px;
  }

  .capture-button {
    width: 90px;
    height: 90px;
    font-size: 2.5rem;
  }

  .photo-preview {
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .video-container {
    max-width: 800px;
  }

  .photo-preview {
    max-width: 800px;
  }
}
