.erreur-title {
  font-size: 4rem;
  margin: 0;
  color: var(--color-primary);
  text-shadow: 0 0 10px rgba(64, 224, 208, 0.8);
  font-family: var(--font-retro);
}

@media screen and (min-width: 769px) {
  .erreur-title {
    font-size: 10rem;
  }
}
