.btn-form {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.trait-vertical {
  width: 2px;
  height: 2px;
  background-color: #000;
}

form {
  background-color: red;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 30px 10px;
}

input #pseudo,
#nom,
#prenom,
#email,
#password,
#confirm_password {
  margin: 10px 0;
  width: 80%;
  padding: 8px;
}

@media screen and (min-width: 769px) {
  button.btn-inscription,
  .btn-connexion {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border: none;
  }

  button.inscription {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  button.inscription:hover {
    background-color: rgb(251, 254, 252);
    cursor: pointer;
  }

  form {
    width: 500px;
    height: 500px;
  }
}
