.administrator-container {
  min-height: 100vh;
  padding: 80px 20px 120px;
  background-image: url("../images/administratorBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
