.desktop-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  z-index: 100;
}

.mobile-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  z-index: 100;
}

.footer-left {
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 2rem; /* espacement égal entre les liens */
  list-style: none;
}

.footer-links a {
  color: var(--color-light);
  text-decoration: none;
  transition: color var(--transition);
}

.desktop-footer-links a:hover {
  color: var(--color-gray);
  text-decoration: none;
}

@media screen and (max-width: 812px) {
  .desktop-footer {
    display: none;
  }
}
@media screen and (min-width: 812px) {
  .mobile-footer {
    display: none;
  }
}
