.desktopTabs {
  display: none;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--color-light);
  border-radius: var(--border-radius);
  padding: 8px;
  background: var(--color-secondary);
  margin-bottom: 1rem;
}

.desktopTabs button {
  background: transparent;
  color: var(--color-light);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: var(--font-size-base);
  border-radius: var(--border-radius-small);
  transition: background-color var(--transition);
}

.desktopTabs div {
  align-items: center;
}

.desktopTabs img {
  margin-right: 8px;
  width: 1rem;
  height: auto;
}

@media screen and (max-width: 768px) {
  .desktopTabs {
    display: none;
  }

  .tab-content {
    padding: 0.5rem;
  }

  .data-table {
    font-size: 0.8rem;
  }

  .data-table th,
  .data-table td {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1030px) {
  .desktopTabs {
    display: flex;
  }
}
