.mobileTabs {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
}

.mobileTabs button {
  background: white;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.mobileTabs img {
  margin-right: 8px;
  width: 1rem;
  height: auto;
}

@media screen and (min-width: 812px) {
  .mobileTabs {
    display: none;
  }
}

@media screen and (max-width: 812px) {
  .footer {
    display: none;
  }
}
